<h1> Show Countries</h1>

<h2> <%= @countries.name %> </h2>
<p> <%= @countries.president %> <p>
<p> <%= @countries.population %> <p>
<p> <%= @countries.language %> <p>

<strong> <%= @countries.flag_url %> </strong>

	